[FORMAT]
max-line-length=100
disable=logging-fstring-interpolation

[MESSAGES CONTROL]
# C0111 Used when a warning note as FIXME or TODO is detected (fixme)
# C0114 Missing module docstring (missing-module-docstring)
disable=W0511,C0114
