site_name: BitOps Documentation
site_url: https://bitops.sh/
# Will be used for meta tags and previews in social media. 150-160 characters is recommendation.
site_description: "BitOps is like bootstrap but for the infrastructure. It centralizes, organizes, and deploys your Infrastructure-as-Code."

theme:
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
  name: material
  custom_dir: docs/theme/
  font:
    text: Lato
  palette:
    primary: red
    accent: red
    scheme: light
  logo: assets/images/logo/Bitops(RGB)_L2_Icon_4C.png
  favicon: assets/images/logo/Bitops(RGB)_L2_Icon_4C.png
  icon:
    repo: fontawesome/regular/heart

repo_name: Built By Bitovi
repo_url: https://www.bitovi.com/devops

nav:
  - Getting Started: getting-started.md
  - Operations Repository: operations-repo-structure.md
  - Configuration:
    - Base Configuration: configuration-base.md
    - Cloud Configuration:
      - AWS: cloud-configuration/configuration-aws.md
    - Tool Configuration:
      - Terraform: tool-configuration/configuration-terraform.md
      - Ansible: tool-configuration/configuration-ansible.md
      - Helm: tool-configuration/configuration-helm.md
      - Cloudformation: tool-configuration/configuration-cloudformation.md
    - Default Environment: default-environment.md
  - Examples: examples.md
  - Releases:
    - Versioning: versioning.md
    - Roadmap: roadmap.md
    - Upgrade: migration.md
  - Development:
    - Local development: development-local.md
    - Custom Images: custom-image.md
  - Plugins: plugins.md
  - Lifecycle: lifecycle.md
  - About:
    - About: about.md
    - Contributing:
      - Contributing Guide: contributing.md
      - Development Guide: development/development.md
      - DCO: development/DCO.md
      - Open Issues: https://github.com/bitovi/bitops/issues" target="_blank
    - License: license.md

extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/bitovi/bitops
  - icon: fontawesome/brands/docker
    link: https://hub.docker.com/r/bitovi/bitops
  - icon: fontawesome/brands/slack
    link: https://www.bitovi.com/community/slack

extra_css:
 - stylesheets/custom.css
markdown_extensions:
  - attr_list
  - meta
  - pymdownx.extra
  - toc:
      permalink: "#"
