version: 2.1
workflows:
  bitops:
    jobs:
      - build:
          context: bitops
          filters:
            branches:
              only:
                - add-cf-nested-templates-processing
            tags:
              only:
                - "/.*/"
  docs:
    jobs:
    - deploy-docs:
        filters:
          branches:
            only:
            - master
jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            ./scripts/ci/install.sh
      - run:
          name: Run tests
          command: |
            ./scripts/ci/test.sh
      - deploy:
          name: Publish docker image
          command: |
            ###
            ### SETUP ENV VARS
            ###

            # registry setup
            export REGISTRY_URL="bitovi/bitops"
            export AWS_ACCESS_KEY_ID="${BITOPS_AWS_ACCESS_KEY_ID}"
            export AWS_SECRET_ACCESS_KEY="${BITOPS_AWS_SECRET_ACCESS_KEY}"

            # publish setup
            export BITOPS_DOCKER_IMAGE_PUBLISH_SKIP_SHA="1"
            export BITOPS_DOCKER_IMAGE_NAME="${CIRCLE_PROJECT_REPONAME}" # bitops
            export BITOPS_GIT_TAG="cf-develop" # ${CIRCLE_TAG}
            export BITOPS_GIT_SHA="${CIRCLE_SHA1}"
            export BITOPS_GIT_BRANCH="${CIRCLE_BRANCH}"
            export BITOPS_GIT_BASE_BRANCH="add-cf-nested-templates-processing"

            ###
            ### PUBLISH
            ###
            ./scripts/ci/publish.sh
  
  deploy-docs:
    docker:
      - image: cimg/python:3.7
    steps:
    - add_ssh_keys:
          fingerprints:
            - "0a:83:f3:84:67:25:97:33:af:42:38:77:dc:29:60:8f"
    - checkout
    - run: pip install mkdocs mkdocs-material
    - deploy:
        name: Deploy docs
        command: mkdocs gh-deploy -c -m "[ci skip]"
