ServerName="ΣT | SigmaTac | TEST SERVER"
MaxPlayers=80
NumReservedSlots=4
IsLANMatch=false
ShouldAdvertise=true
NumPlayersDiffForTeamChanges=5
AllowTeamChanges=true
PreventTeamChangeIfUnbalanced=true
EnforceTeamBalance=true
RejoinSquadDelayAfterKick=180
RecordDemos=false
ServerMessageInterval=300
AllowCommunityAdminAccess=false
AllowDevProfiling=false
